<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'add_job.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Add Job</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Job</button>
        </form>
    </div>
</body>
</html>
